{
  "presets": ["es2015"],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"]
    }]
  ],
  "env": {
    "test": {
      "plugins": [
        ["module-resolver", {
          "root": ["./src"]
        }],
        "rewire"
      ]
    }
  }
}