@import "~bpk-mixins";

$tablet-hor-margin: .75rem;
$desktop-hor-margin: .75rem;

@mixin generateHorizontalMargin($adaption-margin) {
  margin: 0 #{-$adaption-margin} 0 #{-$adaption-margin};
}

.sr {
  &_list {
    &-section {
      .bpk-grid__container {
        background-color: transparent;
      }
      .bpk-grid__column {
      }
    }

    overflow: auto;
    @include generateHorizontalMargin($desktop-hor-margin);

    @include bpk-breakpoint-tablet-only() {
      margin: 0;
    }
    @include bpk-breakpoint-mobile() {
      margin: 0;
    }
  }

  &_item {
    float: left;
    margin: 0 $desktop-hor-margin 1.5rem $desktop-hor-margin;
    width: calc(50% - #{$desktop-hor-margin * 2});

    @include bpk-breakpoint-tablet-only() {
      margin: 0 0 .75rem 0;
      width: 100%;
    }
    @include bpk-breakpoint-mobile() {
      margin: 0 0 .75rem 0;
      width: 100%;
    }
  }
}